{% extends "layout.html" %}

{% block content %}
<header class="bg-transparent">
    <nav class="navbar navbar-expand-lg border-bottom border-light bg-transparent" data-bs-theme="dark">
        <div class="container-lg">
            <i class="bi bi-person text-light fs-4">
                <a class="navbar-brand text-light" href="{{url_for('home')}}">Your_Name</a>
            </i>

            <button class="navbar-toggler bg-transparent border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#About-Me">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#Past-Work">Past Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#Pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main>
    <section class="py-5 mb-3" id="About-Me">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <h1 class="text-light text-center display-3 fw-bold py-3">Professional Roblox Builder For Hire!</h1>
                <div class="col-12 col-md-12 col-lg-6 pt-5">
                    <div class="card rounded-4 border-0  text-xl-start w-100 h-auto bg-transparent">
                        <div class="card-body text-light">
                            <h5 class="card-title fw-bold text-md-center text-lg-start"><small><i
                                        class="bi bi-person-plus"> About Me</i></small></h5>
                            <h1 class="card-subtitle mb-2 text-md-center text-lg-start">Roblox Builder from <small>(Your
                                    Country)</small>.</h1>
                            <p class="card-text lead pb-3 text-md-center text-lg-start"><i class="bi bi-chat-left-dots">
                                    Hey! I'm (Name)

                                    I’m a dedicated ROBLOX mid-high-poly/stud builder with over (years) of experience
                                    creating
                                    clean, detailed, and performance-friendly builds. I specialize in structured mid
                                    poly
                                    and studs designs but can also do others styles, like high poly. <br><br>
                                    If you’re looking for polished assets or environments that balance detail and
                                    optimization, I’d love to work with you! (do not hesitate to dm for more
                                    infos!)..</i>
                            </p>
                            <h5 class="card-title fw-bold text-md-center text-lg-start"><small>What i can do: </small>
                            </h5>
                            <div class="mb-3 d-flex flex-wrap gap-2 justify-content-md-center justify-content-lg-start">
                                <p class="card-text border border-1 text-md-center text-lg-start rounded-3 d-inline-block py-2 px-2 bg-success m-0"
                                    style="max-width: 100%; white-space: normal;">
                                    <i class="bi bi-check"> High-quality mid poly/studs builds</i>
                                </p>
                                <p class="card-text border border-1 rounded-3 text-md-center text-lg-start d-inline-block py-2 px-2 bg-success m-0"
                                    style="max-width: 100%; white-space: normal;">
                                    <i class="bi bi-check"> Strong attention to details</i>
                                </p>
                                <p class="card-text border border-1 rounded-3 text-md-center text-lg-start d-inline-block py-2 px-2 bg-success m-0"
                                    style="max-width: 100%; white-space: normal;">
                                    <i class="bi bi-check"> Friendly and professional collaboration</i>
                                </p>
                                <p class="card-text border border-1 rounded-3 text-md-center text-lg-start d-inline-block py-2 px-2 bg-success m-0"
                                    style="max-width: 100%; white-space: normal;">
                                    <i class="bi bi-check"> Clear communication and consistent progress updates</i>
                                </p>
                            </div>
                            <div
                                class="mb-3 d-md-flex flex-wrap gap-2 justify-content-md-center justify-content-lg-start">
                                <h5 class="card-title fw-bold text-md-center text-lg-start pb-2 w-100">
                                    <small>
                                        What i can't do:
                                    </small>
                                </h5>
                                <div class="w-100 d-flex justify-content-md-center justify-content-lg-start">
                                    <p class="card-text text-md-center border border-1 rounded-3 text-lg-start d-inline-block py-2 px-2 bg-danger m-0"
                                        style="max-width: 100%; white-space: normal;">
                                        <i class="bi bi-x"> Low poly/studs builds</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6 d-none d-md-block text-sm-center pt-5">
                    <div class="card border-0 bg-transparent h-auto">
                        <div class="card-text text-light fw-bold text-md-center text-lg-end mt-0 py-2 pe-2">
                            <i class="bi bi-image pe-1 fs-5"></i> Featured Sample
                        </div>
                        <img src="/static/images/demoPicture.jpeg" class="card-hover-lift img-fluid img-glow-shadow" alt="Demo Picture"
                            style="max-width: 200%">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Past-Work" class="border border-top border-start-0 border-bottom-1 pb-5  border-light">
        <div class="container-lg">
            <div class="row justify-content-start align-items-center pt-5 pb-3">
                <div class="col-12 col-md-6 text-light text-center text-md-start">
                    <h1 class="fw-bold text-light pt-5">
                        <i class="bi bi-images"> Work examples</i>
                    </h1>
                    <p class="small fw-bold text-light pt-1">A few stuff i made before commissions</p>
                </div>
            </div>

            <div class="row justify-content-center align-items-center g-4">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card h-100 bg-transparent border border-2 h-auto card-hover-lift" style="width: 100%;"
                        data-bs-toggle="modal" data-bs-target="#projectModal">
                        <img src="/static/images/death-calling-pic-1.jpeg" class="img-glow-shadow img-fluid"
                            alt="death calling map" style="height: 300px; object-fit: cover;">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card h-100 bg-transparent border border-2 h-auto card-hover-lift" style="width: 100%;">
                        <img src="/static/images/sirichia-pic-1.jpeg" class="img-glow-shadow img-fluid" alt="sirichia"
                            style="height: 300px; object-fit: cover;">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card h-100 bg-transparent border border-2 h-auto card-hover-lift" style="width: 100%;">
                        <img src="/static/images/death-calling-pic-2.jpeg" class="img-glow-shadow img-fluid"
                            alt="death calling map" style="height: 300px; object-fit: cover;">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card h-100 bg-transparent border border-2 h-auto card-hover-lift" style="width: 100%;">
                        <img src="/static/images/sirichia-pic-2.jpeg" class="img-glow-shadow img-fluid" alt="sirichia"
                            style="height: 300px; object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
        </div>
    </section>

    <section id="Pricing" class="mb-5 pb-5 border border-bottom-1 border-start-0">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 text-center">
                    <h1 class="text-light fw-bold display-4 pt-5">
                        <i class="bi bi-tag">
                            Pricing
                        </i>
                    </h1>

                    <div class="card text-center bg-transparent shadow-lg border-2 pb-4 mx-auto text-light"
                        style="width: 24rem;">
                        <div class="card-body">
                            <h5 class="card-title text-start"><small>Pricing</small></h5>
                            <h1 class="card-subtitle mb-2 pt-4">$-$</h1>
                            <h3 class="card-text fw-bold pt-3">Price is Negotiable!</h3>
                            <hr>
                        </div>

                        <div class="card-subtitle text-start px-5 fw-bold pt-1">
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <i class="bi bi-check"></i>
                                <span>Core Systems</span>
                            </div>
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <i class="bi bi-check"></i>
                                <span>Scalability & Optimization</span>
                            </div>
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <i class="bi bi-check"></i>
                                <span>Security & Stability</span>
                            </div>
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <i class="bi bi-check"></i>
                                <span>Project Management</span>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-check"></i>
                                <span>Revisions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
        </div>
    </section>
</main>


<footer>
    <section id="Contact" class="pb-5">
        <div class="container">
            <div class="row justify-content-center align-items-center shadow-lg rounded-5 py-4">
                <div class="col-12 col-md-8 col-lg-6 text-center">
                    <h1 class="display-5 d-block w-100 text-light text-center fw-bold"><i
                            class="bi bi-cone-striped fs-1"> Ready To Build Something Together?</i></h1>
                    <p class="lead text-light text-center fw-bold pt-1">Contact me anytime</p>
                    <a href="#" class="btn border border-2 rounded-4 py-3 px-3 text-light btn-primary">Discord</a>
                </div>
            </div>
    </section>
</footer>

{% endblock %}